body {
    font-size: 16px;
    color: black;/*#fff;*/
    background-color: white;
    font-family: 'Oxygen', sans-serif;
    /*background: -webkit-linear-gradient(white, #ff9966);
    /* For Safari 5.1 to 6.0 */
    /*background: -o-linear-gradient(white, #ff9966);
    /* For Opera 11.1 to 12.0 */
    /*background: -moz-linear-gradient(white, #ff9966);
    /* For Firefox 3.6 to 15 */
   /* background: linear-gradient(white, #ff9966);
    /* Standard syntax */
}



/** HEADER **/

#header-nav {
    background-color: white;
    border-radius: 0;
    border: 0;
    margin-bottom: 0;
}

nav .container {
    padding-left: 100px;
    padding-right: 100px;
    width: 100%;
}

.navbar-header {
    height: 60px;
}

/*#solgan{
  width: 100%;
  height: 40px;
  background-color: #cc0066;
}*/

#logo-img {
    background: url('../images/logo1.gif') no-repeat;
    width: 250px;
    height: 100px;
    margin: 5px 15px 10px 0;
}

/* index title*/
/*
.navbar-brand {
  padding-top: 25px;
}
.navbar-brand h1 { 
  font-family: 'Lora', serif;
  color: blue;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}
.navbar-brand p { 
/* color: #000;
  text-transform: uppercase;
  font-size: .7em;
  margin-top: 15px;
}
.navbar-brand p span { 
  vertical-align: middle;
}

*/

#nav-list a {
    color: black;
    text-align: center;
    height: 60px;
}

#nav-list a:hover,
#nav-list a:focus {
    color: #ff9966;
}

#nav-list a span {
    font-size: 1.8em;
}

#footerLeft {
    float: left;
    width: 70%;
}

#footerRight {
    float: left;
    width: 30%;
}

#footerRight ul {
    list-style-type: none;
}

#footerRight a:hover,
#footerRight a:focus {
    text-decoration: none;
    color: white;
}

#footerRight a {
    float: left;
    padding-left: 20px;
    color: black;
}


#menu-categories-title{
  color: gray;
}

.row{
  margin-top: 20px;
}

.row div{
  margin-bottom: 20px;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #61122f;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}

.navbar-nav .active a{
   background-color: transparent !important;
}

/* END HEADER */

div h4{
  line-height: 1.5em;
}

/* MENU CATEGORIES PAGE */
.category-tile{ 
  position: relative;
  overflow: hidden;
  width: 200px;
  height: 200px;
  margin: 0 auto 15px;
}

.category-tile span {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  text-align: center;
  font-size: 1.2em;
  text-transform: uppercase;
  background-color: #94b8b8;
  color: #fff;
  opacity: .8;
}

.category-tile:hover {
  box-shadow: 0 1px 5px 1px #cccccc;
}
/* END MENU CATEGORIES PAGE */

/* MENU ITEMS PAGE */
.menu-tile{ 
  position: relative;
  width: 250px;
  height: 280px;
  margin: 0 auto 15px;
}

.menu-tile-price{
  text-align: center;
  margin: 0 20px;
  bottom: 5px;
}
/* END MENU ITEMS PAGE */

/* SINGLE CATEGORY PAGE */
.menu-item-photo {
  text-align: center;
  overflow: hidden;
  padding: 0;
  max-width: 250px;
}
/* END SINGLE CATEGORY PAGE */

.menu-item-photo{
  float: right;
}

#buyBox{
  float: left;
}

/* ABOUT PAGE */
#aboutMe{
  margin-top: 50px;
  height: 550px;
}
/* END ABOUT PAGE */


/* FOOTER */
.panel-footer {
    height: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #ff9966;
    border-top: 0;
    color: black;
}
/* END FOOTER */



/********** Medium devices only **********/

@media (min-width: 992px) and (max-width: 1199px) {
    #footerLeft {
        width: 65%;
    }

    #footerRight {
        width: 35%;
    }
}



/********** Small devices only **********/

@media (min-width: 768px) and (max-width: 991px) {
    /* Home Page */
    nav .container {
        padding-left: 30px;
        padding-right: 30px;
    }

    #logo-img {
        margin-top: 15px;
        margin-left: 20px;
        width: 225px;
        height: 110px;
    }

    #home_frame {
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .panel-footer {
        height: 100px;
        text-align: center;
    }

    #footerLeft,
    #footerRight {
        float: none;
        font-size: 12px;
        width: 100%;
    }

    #footerRight ul {
        padding-top: 5px;
        display: table;
        margin: 0 auto;
    }
    /* End Home Page */
}







/********** xs: Extra small devices only **********/

@media (min-width: 480px) and (max-width: 767px) {
    /* Home Page */
    nav .container {
        padding-left: 30px;
        padding-right: 30px;
    }

    #logo-img {
        margin-top: 10px;
        width: 150px;
        height: 40px;
        background-image: url("../images/logo1_xs.gif");
    }

    .navbar-header button.navbar-toggle {
      margin-top: -45px;
    }

    #nav-list a,
    #footerLeft,
    #footerRight {
        font-size: 16px;
    }

    #nav-list a,
    #nav-list li {
        height: 40px;
    }

    #home_frame {
        margin-top: 40px;
        margin-bottom: 40px;
    }

    .panel-footer {
        padding-top: 15px;
        height: 130px;
        text-align: center;
    }

    #footerLeft,
    #footerRight {
        float: none;
        width: 100%;
    }

    #footerRight ul {
        padding-top: 5px;
        display: table;
        margin: 0 auto;
    }
    /* End Home Page */

    .menu-item-photo{
      float: none;
      margin: 0 auto;
    }

    .menu-item-details, .menu-item-title,
    .menu-item-price{ 
      text-align: center;
      float: none;
      margin: 5px auto;
      width: 60%;
    }

    .spinBox, .buyBtn {
      text-align: center;
      float: none;
      margin: 0 auto;
      width: 60%;
    }
}


/********** xxs: Super extra small devices Only :-) (e.g., iPhone 4) **********/

@media (max-width: 479px) {
    /* Home Page */
    nav .container {
        padding-left: 15px;
        padding-right: 15px;
    }

    #logo-img {
        width: 100px;
        height: 30px;
        margin-top: 15px;
        background-image: url("../images/logo1_xxs.gif");
    }

    .navbar-header button.navbar-toggle {
      margin-top: -40px;
    }

    .item img{
      width: 100%;
      height: 400px;
    }

    #home_frame {
        margin-top: 40px;
        margin-bottom: 40px;
    }

    #nav-list a, #footerLeft, #footerRight {
        font-size: 14px;
    }

    #nav-list a,
    #nav-list li {
        height: 40px;
    }
    /* End Home Page */
    .col-xxs-12 {
        position: relative;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;
        float: left;
        width: 100%;
    }

    .panel-footer {
        padding-top: 10px;
        height: 110px;
        text-align: center;
    }

    #footerLeft,
    #footerRight {
        float: none;
        width: 100%;
    }

    #footerRight ul {
        padding-left: 0;
        padding-top: 5px;
        display: table;
        margin: 0 auto;
    }

    #footerRight li {
        float: none;
        height: 20px;
    }

    .menu-item-photo{
      float: none;
      margin: 0 auto;
    }

    .menu-item-details, .menu-item-title,
    .menu-item-price{ 
      text-align: center;
      float: none;
      margin: 10px auto;
      width: 60%;
    }

    .spinBox, .buyBtn {
      text-align: center;
      float: none;
      margin: 0 auto;
      width: 60%;
    }

}